* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: thistle;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.container li {
    list-style-type: none;
}

.conatiner a {
    display: inline-block;
    padding: 25%;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color:blue;
}